<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tools.mapper.UserMapper">

    <insert id="InsertUser" parameterType="com.example.tools.pojo.User" >
        insert into tb_user(uname, passwd,gender,birthday,height,weight) VALUES
        (#{uname},#{passwd},#{gender},#{birthday},#{height},#{weight})
    </insert>
    <delete id="DeleteUser" parameterType="int">
        delete from tb_user where uid = #{uid}
    </delete>
    <update id="UpdateUser" parameterType="com.example.tools.pojo.User">
        update tb_user set uname=#{uname},passwd=#{passwd},gender=#{gender},birthday=#{birthday},height=#{height},weight=#{weight} where uname=#{uname}
    </update>
    <select id="SelectUser" parameterType="string" resultType="com.example.tools.pojo.User">
        select * from tb_user where uname = #{uname}
    </select>
    <select id="SelectAllUser" resultType="com.example.tools.pojo.User">
        select * from tb_user
    </select>
</mapper>
